<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Category</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        body {
            position: relative;
            background-image: url("https://i.loli.net/2021/10/25/WjBbUJIvs5DiFoZ.jpg");
        }
    </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div th:replace="fragments/topnav :: navbar"></div>

    <div class="container-fluid" style="padding-top: 10%; padding-bottom: 10%">
        <h1>What we offer!</h1>
        <br>
        <div class="row">
            <div th:each="food : ${foods}">
                <div class="col-md-4">
                    <div th:each="photo : ${food.photos}">
                        <img height="250" width="250" th:src="@{${'/photos/' + photo.fileName}}">
                    </div>
                </div>
                <b></b><h4 th:text="${food.getFoodName()}"></h4></b>
                <h6 th:text="'Category: ' + ${food.getFoodCategory()}"></h6>
                <h6 th:text="'Description: ' + ${food.getFoodDescription()}"></h6>
                <h6 th:text="'Price: $' + ${food.getFoodPrice()}"></h6>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>